@model IEnumerable<MagSubApp.Models.Webappmaster>
@Html.ValidationSummary(false)

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Ready to subscribe?</h1>
        <p class="lead">We have more magazine subscriptions than you could possibly imagine...seriously.</p>
        <hr class="my-4">
        <p>Click below to view all of our available subscriptions and sign up today.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg btn-outline-primary" asp-area="" asp-controller="WebApp" asp-action="Create" role="button">Let's Do This</a>
        </p>
    </div>
</div>